fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
qrcode[pil]
pillow
pydantic
pydantic-settings
user-agents
python-dotenv
email-validator
gunicorn
